

/* http://danielstern.ca/range.css/ */


.DOM_input_range_slider_weights
{
  width:  100%;
  height: 70%;
}


input.DOM_input_range_slider_weights[type=range] 
{
  float: left;
  
  background-color: transparent;
  -webkit-appearance: none;
}


input.DOM_input_range_slider_weights[type=range]:focus 
{
  outline: none;
}


input.DOM_input_range_slider_weights[type=range]::-webkit-slider-runnable-track 
{
  background-color: var(--color_zero);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 1px;
  cursor: pointer;
}


input.DOM_input_range_slider_weights[type=range]::-webkit-slider-thumb 
{
  margin-top: -6px;
  width: 40px;
  height: 12px;
  background-color: var(--color_DOM_input_range_slider_weights_thumb);
  border: 1px solid var(--color_zero);
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}


input.DOM_input_range_slider_weights[type=range]:focus::-webkit-slider-runnable-track 
{
  background-color: var(--color_zero);
}


input.DOM_input_range_slider_weights[type=range]::-moz-range-track 
{
  background-color: var(--color_zero);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 1px;
  cursor: pointer;
}


input.DOM_input_range_slider_weights[type=range]::-moz-range-thumb 
{
  width: 40px;
  height: 12px;
  background-color: var(--color_DOM_input_range_slider_weights_thumb);
  border: 1px solid var(--color_zero);
  border-radius: 10px;
  cursor: pointer;
}


input.DOM_input_range_slider_weights[type=range]::-ms-track 
{
  background-color: transparent;
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
  width: 100%;
  height: 1px;
  cursor: pointer;
}


input.DOM_input_range_slider_weights[type=range]::-ms-fill-lower 
{
  background-color: var(--color_zero);
  border: 0;
  border-radius: 50px;
}


input.DOM_input_range_slider_weights[type=range]::-ms-fill-upper 
{
  background-color: var(--color_zero);
  border: 0;
  border-radius: 50px;
}


input.DOM_input_range_slider_weights[type=range]::-ms-thumb 
{
  width: 40px;
  height: 12px;
  background-color: var(--color_DOM_input_range_slider_weights_thumb);
  border: 1px solid var(--color_zero);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}


input.DOM_input_range_slider_weights[type=range]:focus::-ms-fill-lower 
{
  background-color: var(--color_zero);
}


input.DOM_input_range_slider_weights[type=range]:focus::-ms-fill-upper 
{
  background-color: var(--color_zero);
}


/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) 
{
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input.DOM_input_range_slider_weights[type=range] 
  {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
